@use "../../responsive.scss" as *;

.filter{
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include sm{
       max-width:90%;
    }

   h1{
    color: #695f38;
    font-weight: 100;
    font-size: 28px;

    @include sm{
        padding-top: 25px;
    }
   } 
   .item{
    display: flex;
    flex-direction: column;
    gap: 2px;

    label{
        font-size: smaller;
        padding-top: 5px;
    }

    input,select{
        width: 100px;
        border: 1px solid #999;
        padding: 10px;
        border-radius: 4px;
        font-size: 14px;

        @include sm{
            width: 90%;
        }
      
    }
   }
   .top{
    input{
    width: 100%;
    }
   }

   .bottom{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding-top: 5px;

    @include sm{
        display: block;
        width: 90%;
    }

    button{
        background-color: black;
        width: 75px;
        height: 50px;
        margin-top: 10.5px;
        padding: 12px;
        cursor: pointer;
        border-radius: 4px;

        @include sm{
           width: 90%;
        }

        &:hover{
            transition: all 1s ease-out;
            scale:0.95;
        }

        img{
            width: 24px;
            height: 24px;

        }
    }
   }

}